.changelog-body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 30px;
  width: 40%;
  height: 65%;
  z-index: 101;
  border: 4px var(--paletteLib, rgba(0, 0, 0, 0.1)) solid;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(8px);
}
