* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --tabSide: #ffffff;
  --interactSide: #f5f5f5;
  --fontColor: #000000;
  --lucideIcon: #000000;
  --uploadColor: #ebebeb;
  --scrubberTrack: #e2e2e2;
  --buttonBorder: #ffffff;
  --buttonFill: #ebebeb;
}

:root.dark {
  --tabSide: #1f1f1f;
  --interactSide: #1a1a1a;
  --fontColor: #f2f0ef;
  --lucideIcon: #f2f0ef;
  --uploadColor: #171717;
  --scrubberTrack: #1f1f1f;
  --buttonBorder: #141414;
  --buttonFill: #242424;
}

.selected {
  color: var(--selectColor, var(--paletteSelect, #ff746c));
}

.color-example {
  color: #ff746c;
}

.hidden {
  display: none !important;
}

ul {
  list-style: none;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none;
  height: 100vh;
}

@media (display-mode: standalone) {
  html,
  body {
    background: var(--tabSide);
  }
}
